<div class="container-fluid">
  <div class="row">
    <% @developers.slice(0,1).each do |developer| %>
      <div class="image-box col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="ghost-element"></div>
      </div>
    <% end %>
  </div>
</div>
