{{#modal-dialog close='goBackToDevelopers' translucentOverlay=true}}
  <h1>{{model.fullName}}</h1>
  <button {{action 'goBackToDevelopers'}} class="btn btn-danger-outline">Close</button>
{{/modal-dialog}}