@import "ember-cli-bootstrap-4/bootstrap";
@import url(https://fonts.googleapis.com/css?family=Lato:400,300);
@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";
@import "./loading-spinner";
@import "./responsive-developers-table";

body {
  padding: 55px 20px 80px 20px;
  font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
  font-weight: normal;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.snapchat-username {
  cursor: pointer;
}

.padding-top {
  padding-top: 20px;
}

.heading {
  padding: 0.5rem 1rem;
  background-color: #f7f7f9;
  text-align: center;

  .navbar-brand {
    display: block;
    float: none;
  }

  .developers-count {
    display: inline-block;;
  }
}

.container {
  width: 550px;
}

.heading ul {
  display: none;
}

.image-box svg, .image-box img {
  max-width: 95%;
  max-width: calc(100% - 1px);
  vertical-align: middle;
  display: inline-block;
}

.ghost-element {
  margin-right: -4px;
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.image-box {
  text-align: center;
  min-height: 360px;
}

footer {
  .copyright {
    padding-top: 6px;
    div {
      display: inline-block;
    }
  }
}

@media screen and (max-width: 500px) {
  footer {
    .btn {
      width: 100%;
      margin-bottom: 1%;
    }
    .btn:first-child {
      margin-right: 10px;
    }
    .pull-xs-left {
      width: 100%;
    }
  }
}

@media screen and (min-width: 545px) {
  .image-box {
    height: auto;
  }

  .heading .navbar-brand {
    display: inline;
    float: left;
  }

  .heading {
    background-color: #ffffff;
    text-align: left;
    float: left;
  }

  .heading ul {
    display: block;
  }
}

.ember-modal-overlay {
  z-index: 10000;
  &.translucent {
    background: rgba(0, 0, 0, 0.5);
  }
}
.ember-modal-dialog {
  background: none;
  box-shadow: none;
}
.developer-details-modal {
  text-align: center;
}
.new-developer-modal {
  text-align: center;
}
.display-codes-switcher {
  display: inline-block;
}
.new-developer-form {
  .form-group {
    text-align: left;
    .help-block {
      color: #d9534f;
    }
  }
}
.developers-page {
  .sk-circle {
    margin: 100px auto;
  }
}
.snapchat-codes-list {
  .description {
    visibility: hidden;
  }
  .image-box:hover .description {
    visibility: visible;
  }
}
