.ember-modal-overlay {
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  &.translucent {
    background: rgba(0, 0, 0, 0.5);
  }
}
.ember-modal-dialog {
  background: none;
  box-shadow: none;
  position: static;
  margin: 0 !important;
}
@media screen and (max-width: 368px) {
  .ember-modal-dialog {
    .actions {
      input, button {
        width: 100%;
        margin-bottom: 10px;
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
}
@media screen and (max-height: 480px) {
  .ember-modal-overlay {
    align-items: initial;
    .ember-modal-dialog .modal-dialog {
      margin-top: 40px;
      margin-bottom: 40px;
    }
  }
}
@media screen and (max-width: 620px) {
  .ember-modal-dialog {
    padding: 10px;
    width: 100% !important;
    h1 {
      font-size: 1.2rem;
    }
    textarea {
      max-height: 60px;
    }
    input, textarea {
      font-size: 0.8rem;
    }
    .modal-dialog {
      margin: 0;
      width: 100% !important;
    }
    .card.card-block {
      padding: 0;
      border: 0;
    }
  }
}
@media screen and (min-width: 620px) {
  .ember-modal-dialog {
    .modal-dialog {
      width: 600px;
      margin: 30px auto;
    }
  }
}
