@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px)  {
  .responsive-developers-table {
    &, thead, tbody, th, td, tr {
      display: block;
    }

    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    tr {
      border: 1px solid #ccc;
      margin-bottom: 10px;
    }

    td {
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      padding-left: 170px;
    }

    td:before {
      position: absolute;
      top: 6px;
      left: 6px;
      width: 150px;
      padding-right: 10px;
      white-space: nowrap;
    }

    td:nth-of-type(1):before {
      content: "Snapchat username";
    }
    td:nth-of-type(2):before {
      content: "Full name";
    }
    td:nth-of-type(3):before {
      content: "About";
    }
  }
}
