<nav class="navbar navbar-light bg-faded navbar-bottom">
  <ul class="nav navbar-nav pull-xs-right">
    <li class="nav-item nav-link">
      Copyright © <%= Time.now.year %> · All Rights Reserved
    </li>
  </ul>
</nav>