<nav class="navbar navbar-dark bg-primary navbar-fixed-top">
  <%= link_to "DevSnap", root_path, class: "navbar-brand" %>
  <ul class="nav navbar-nav pull-xs-right">
    <li class="nav-item nav-link">
    <%= Developer.count %> Awesome devs and counting...
    <iframe src="https://ghbtns.com/github-btn.html?user=arkency&repo=devsnap&type=star&count=true" frameborder="0" scrolling="0" width="80px" height="20px"></iframe>
    </li>
  </ul>
</nav>