<nav class="navbar navbar-dark bg-primary navbar-fixed-top">
  <%= link_to "DevSnap", root_path, class: "navbar-brand" %>
  <ul class="nav navbar-nav pull-xs-right">
    <li class="nav-item nav-link">
      <%= Developer.count %> Awesome devs and counting...
    </li>
  </ul>
</nav>