<nav class="navbar-fixed-top heading">
  <%= link_to "DevSnap", root_path, class: "navbar-brand" %>
  <ul class="nav navbar-nav pull-xs-right">
    <li class="nav-item nav-link">
    <%= Developer.count %> <span style="padding-right: 20px">Awesome devs and counting...</span>
    </li>
  </ul>
</nav>