@import url(https://fonts.googleapis.com/css?family=Lato:400,300);
@import "bootstrap";

body {
	padding: 55px 20px 50px 20px;
	font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
	font-weight: normal;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#snapchat_username {
	text-decoration: underline;
	cursor: pointer;
}

.padding_top {
	padding-top: 20px;
}

.heading {
	padding-left: 20px;
	padding-right: 20px;
}

.container {
	width: 550px;
}

img {
  max-width: 95%;
  max-width: calc(100% - 1px);
  vertical-align: middle;
  display: inline-block;
}

.ghost-element {
  margin-right: -4px;
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.image-box {
  text-align: center;
  height: 100vh;
  min-height: 360px;
}

@media screen and (min-width: 545px) {
  .image-box {
    height: auto;
  }
}
