<footer class="footer navbar navbar-default bg-faded navbar-fixed-bottom">
  <div class="pull-xs-left">
    {{#link-to 'developers.new' class="btn btn-primary-outline"}}I want to be a part of this!{{/link-to}}
    {{display-codes-switcher}}
  </div>
  <div class="pull-xs-right copyright">
    Copyright © {{current-year}} · All Rights Reserved
  </div>
</footer>