<nav class="navbar navbar-default navbar-fixed-top heading">
  {{#link-to 'developers' class="navbar-brand"}}
    DevSnap
  {{/link-to}}
  <ul class="nav navbar-nav pull-xs-right">
    <li class="nav-item nav-link">
    {{developers-count}} <span style="padding-right: 20px">Awesome devs and counting...</span>
    </li>
  </ul>
</nav>

{{flash-message}}